/* Write your CSS here */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #93c5fd;
}
.inner-container {
  display: flex;
  flex-direction: column;
  padding: 5%;
  background-color: #f8fafc;
  width: 50%;
  height: 40%;
  border-radius: 10px;
}
.title {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  margin: 8px;
}
.input-container {
  font-weight: bold;
  font-size: 20px;
  color: #323f4b;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.capital-text,
select {
  font-size: 25px;
  font-weight: 500;
}
select {
  margin-right: 1%;
}

@media screen and (max-width: 768px) {
  .inner-container {
    width: 90%;
    height: 50%;
  }
  .title {
    font-size: 35px;
  }
  .capital-text {
    font-size: 20px;
  }
}
